.address_container{
    width: 100%;
    height: auto;
}
.a_head_box{
    width: 100%;
    height: 1rem;
    background-color: white;
}
.a_head_box >div{
    width: 33.3333333%;
    height: 100%;
    float: left;
}
.a_head_back >a{
    display: block;
    width: .3rem;
    height: .4rem;
    margin-top: .3rem;
    margin-left: .2rem;
    background: url("../images/back.png") no-repeat center;
    background-size: .2rem 100%;
}
.a_head_title{
    text-align: center;
    line-height: 1rem;
    font-size: .3rem;
}
.ad_ads{
    width: 100%;
    height: auto;
    background: white;
    margin-top: .2rem;
    padding-bottom: .654rem;
}
.ad_ads >.form{
    width: 94%;
    height: auto;
    margin:  0 auto;
}
.info_list{
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #e0e0e0;
}
.info_list >.info_title{
    display: inline-block;
    width: 22%;
    height: 100%;
    line-height: 1rem;
    font-size: .26rem;
}
.info_chose_list{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
}
.info_chose_title{
    padding-top: .3rem;
    font-size: .26rem;
}
.info_chose{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding:.3rem 0;
}
.info_chose >span{
    display: inline-block;
    padding: .1rem .2rem;
    font-size: .28rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
    background: #ccc;
    border-radius: .1rem;
}
.info_chose >span.span_on{
    color: white;
    background: rgb(255,150,0);
}
.info_list >input{
    border: none;
    width: 70%;
    height: 80%;
    font-size: .26rem;
}
.submit{
    display: block;
    width: 94%;
    height: .8rem;
    margin: 0.8rem auto 0;
    border: none;
    font-size: .3rem;
    color: white;
    border-radius: .1rem;
    background-color: rgb(253,101,36);
}
.set_def{
    padding-top: .3rem;
}
.set_def >label{
    font-size: .28rem;
}
input[type="checkbox"]{
    display: none;
}
.area_container{
    position: fixed;
    width: 100%;
    height: 100%;
    top:100%;
    left: 0;
    background: rgba(0, 0, 0, 0.36);
}
.area_box{
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
}
.a_title{
    width: 100%;
    height: 6%;
    border-bottom: 1px solid #ccc;
    font-size: .26rem;
    text-align: center;
}
.a_chose{
    width: 93%;
    padding-left: 7%;
    height: 6%;
    border-bottom: 1px solid #ccc;
    font-size: .26rem;
}
.a_chose >span{
    display: inline-block;
    width: auto;
    height: 95%;
    line-height: .6rem;
    margin-right: .3rem;
    padding: 0 .1rem;
}
.area_center{
    width: 100%;
    height: 86%;
    margin-top: 2%;
    position: relative;
}
.area_con{
    width: 9.69rem;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.area_city{
    background: #F5F5F5;
}
.area_con >div{
    width: 3.23rem;
    height: 100%;
    overflow-y: scroll;
    float: left;
}
.area_con >div::-webkit-scrollbar{
    display: none !important;
}
.area_con >div >p{
    width: 60%;
    text-align: left;
    height: .6rem;
    line-height: .6rem;
    margin-left: 20%;
    border-bottom: 1px solid #e6e6e6;
    display: -webkit-box;
    font-size: .26rem;
    -webkit-line-clamp:1;
    -webkit-webkit-box-orient: vertical;
    -moz-webkit-box-orient: vertical;
    -ms-webkit-box-orient: vertical;
    -o-webkit-box-orient: vertical;
    webkit-box-orient: vertical;
    overflow: hidden;
}
.area_on{
    border-bottom: 3px solid #ff0303;
}
.act{
    color: red;
    background: url("../images/yes.png") no-repeat right center;
    background-size: auto 60%;
}
.area_cancel{
    width: 100%;
    height: 100%;
}
.setDefAds{
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    font-size: .25rem;
}

