.sd_container{
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    background: white;
    text-align: center;
    font-size: .27rem;
    position: relative;
}
.sd_container >a{
    display: block;
    width: .4rem;
    height: .4rem;
    top: .2rem;
    left: .2rem;
    background: url("../images/back.png") no-repeat center;
    background-size: auto .4rem;
    position: absolute;
}
.sd_container >p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}
.sd_select{
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    background: white;
    margin-top: .1rem;
    position: relative;
    border-bottom: 1px solid #ccc;
    font-size: .24rem;
}
.sd_select .orderBy{
    font-size: .24rem;
    text-align: center;
    float: left;
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}
.orderBy_list{
    position: absolute;
    top:.52rem;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
}
.sg_container{
    width: 100%;
    height: auto;
    background: white;
    /*margin-top: .2rem;*/
    padding: .2rem 0 ;
}
.no_goods{
    width: 100%;
    height: auto;
    margin-top: .3rem;
}
.no_goods >img{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}