.shop_car_container{
    width: 100%;
    height: auto;
    margin-bottom: 2.3rem;
}
.each_shop_container{
    background: white;
    margin-bottom: .25rem;
}
.shop_name{
    height: .6rem;
    font-size: .27rem;
    line-height: .6rem;
}
.shop_name >label::before{
    margin-top: -.1rem !important;
    margin-left: .1rem;
}
/*.shop_name >span{
    font-size: .27rem;
    line-height: .6rem;
}*/
.each_shop_list{
    width: 100%;
    overflow: hidden;
    background: white;
    height: 2rem;
    padding: .2rem 0;
    border-top:1px solid #ebebeb;
}
.each_shop_check{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopCarContainers input[type=checkbox]{
    display: none;
    width: .5rem;
}
.shopCarContainers input[type="checkbox"]:checked+label::before {
    background: url("../images/cicle_select.png") no-repeat center;
    background-size: contain;
}
.shopCarContainers label::before {
    content: "";
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background: url("../images/cicle_noselect.png") no-repeat center;
    background-size: contain;
    vertical-align: middle!important;
    -webkit-border-radius: 50%;
    -webkit-box-sizing: border-box;
}
.each_shop_info{
    width: 90%;
    height: 2rem;
    overflow: hidden;
}
.ecs_img{
    display: block;
    width: 1.9rem;
    height: 1.9rem;

}
.ecs_info{
    width: auto;
    height: 2rem;
    margin-left: .2rem;
    position: relative;
}
.ecs_name{
    font-size: .26rem;
    width: 3.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}
.ecs_type{
    font-size: .21rem;
    color: #999;
    margin-top: .1rem;
}
.esc_count{
    width: 1.85rem;
    border: 1px solid #ccc;
    border-radius: .1rem;
    height: .37rem;
    margin-top: .15rem;
}
.esc_sub,
.esc_number,
.esc_add{
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: .37rem;
}
.esc_sub{
    width: 30%;
    border-right: 1px solid #cccc;
    font-size: .3rem;
}
.esc_number{
    border: none;
    height: 100%;
    font-size: .25rem;
    width: 40%;
}
.esc_add{
    border-left: 1px solid #cccc;
    font-size: .3rem;
    width: 30%;
}
.ecs_price{
    font-size: .26rem;
    color: #ff853e;
    margin-top: .1rem;
}
.esc_rmb,
.esc_int{
    font-size: .3rem;
}
.p_add{
    font-size: .4rem;
    margin:0 .1rem;
}
.esc_int{
    padding-left: .4rem;
    background: url("../images/sxore_orange.png") no-repeat left center;
    background-size: auto .3rem;
}
.ecs_delete{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .22rem;
    color: #999;
    padding: .05rem .1rem;
    border-radius: .1rem;
    letter-spacing: 1px;
}
.shop_car_clearing_container{
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background: white;
}
.all_shop_check{
    width: 20%;
    height: 100%;
    line-height: 1rem;
    font-size: .25rem;
}
.all_shop_check >label{
    margin-left: .2rem;
}
.all_shop_total{
    width: 60%;
    height: 100%;
    border-left: 1px solid #ececec;
    box-sizing: border-box;
    font-size: .27rem;
    line-height: 1rem;

}
.go_cleaning{
    font-size: .3rem;
    line-height: 1rem;
    width: 20%;
    float: left;
    text-align: center;
    color: white;
    background: #fb6400;
}
.all_shop_total >p{
    text-align: right;
    padding-right: .15rem;
}
