.shop_car_container{
    width: 100%;
    height: auto;
    margin-bottom: 2.3rem;
    /*margin-top: 1.2rem;*/
}
.each_shop_container{
    background: white;
    margin-bottom: .25rem;
}
.shop_name{
    height: .6rem;
    font-size: .27rem;
    line-height: .6rem;
}
.shop_name >label::before{
    margin-top: -.1rem !important;
    margin-left: .1rem;
}
.each_shop_list{
    width: 100%;
    overflow: hidden;
    background: white;
    height: 2.5rem;
    padding: .2rem 0;
    border-top:1px solid #ebebeb;
}
.each_shop_check{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopCarContainers input[type=checkbox]{
    display: none;
    width: .5rem;
}
.shopCarContainers input[type="checkbox"]:checked+label::before {
    background: url("../images/cicle_select.png") no-repeat center;
    background-size: contain;
}
.shopCarContainers label::before {
    content: "";
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background: url("../images/cicle_noselect.png") no-repeat center;
    background-size: contain;
    vertical-align: middle!important;
    -webkit-border-radius: 50%;
    -webkit-box-sizing: border-box;
}
.each_shop_info{
    width: 90%;
    height: 2.5rem;
    overflow: hidden;
}
.ecs_img{
    display: block;
    width: 1.9rem;
    height: 1.9rem;
    margin-top: .25rem;
}
.ecs_info{
    width: auto;
    height: 2.5rem;
    margin-left: .2rem;
    position: relative;
}
.ecs_name{
    font-size: .26rem;
    width: 3.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}
.ecs_type{
    font-size: .21rem;
    color: #999;
    margin-top: .1rem;
}
.esc_count{
    width: 1.85rem;
    border: 1px solid #ccc;
    border-radius: .1rem;
    height: .37rem;
    margin-top: .15rem;
}
.esc_sub,
.esc_number,
.esc_add{
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: .37rem;
}
.esc_sub{
    width: 30%;
    border-right: 1px solid #cccc;
    font-size: .3rem;
}
.esc_number{
    border: none;
    height: 100%;
    font-size: .25rem;
    width: 40%;
}
.esc_add{
    border-left: 1px solid #cccc;
    font-size: .3rem;
    width: 30%;
}
.ecs_price{
    font-size: .26rem;
    color: #ff853e;
    margin-top: .1rem;
}
.esc_rmb,
.esc_int{
    font-size: .3rem;
}
.p_add{
    font-size: .4rem;
    margin:0 .1rem;
}
.esc_rmb i{
    font-style: normal;
    font-size: .15rem;
    color: #555555;
    padding-left: .15rem;
}
.esc_mi{
    font-size: .2rem;
    color: #555;
}
.esc_int{
    padding-left: .4rem;
    background: url("../images/sxore_orange.png") no-repeat left center;
    background-size: auto .3rem;
}
.ecs_delete{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .22rem;
    color: #999;
    padding: .05rem .1rem;
    border-radius: .1rem;
    letter-spacing: 1px;
}
.shop_car_clearing_container{
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background: white;
}
.all_shop_check{
    width: 20%;
    height: 100%;
    line-height: 1rem;
    font-size: .25rem;
}
.all_shop_check >label{
    margin-left: .2rem;
}
.all_shop_total{
    width: 60%;
    height: 100%;
    border-left: 1px solid #ececec;
    box-sizing: border-box;
    font-size: .27rem;
    line-height: 1rem;
    position: relative;
}
/*.all_shop_total span{
    display: inline-block;
    float: left;
}*/
.allShopTotalTxt{
    float: left;
    padding-left: .2rem;
}
.allShopTotalStrict{
    /*float: right;*/
    font-size: .2rem;
    color: #555;
    /*padding-right: .2rem;*/
    position: absolute;
    right: .2rem;
    top: 0;
}
.allShopTotalStrict span{
    display: inline-block;
    float: left;
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    text-align: right;

}
.allShopTotal{
    font-size: .3rem;
    line-height: .7rem !important;
}
.go_cleaning{
    font-size: .3rem;
    line-height: 1rem;
    width: 20%;
    float: left;
    text-align: center;
    color: white;
    background: #fb6400;
}
/*.all_shop_total >p{
    text-align: right;
    padding-right: .15rem;
}*/
.shopCarHead{
    width: 100%;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    font-size: .26rem;
    position: fixed;
    top:0rem;
    left: 0;
    padding: .2rem 0 .2rem 0 ;
    background: white;
}
.shopCarHead span{
    display: inline-block;
    width: 1.5rem;
    height: 100%;
    border: 1px #e5e5e5 solid;
    /*box-sizing: border-box;*/
    background: white;
}
.shopCarOn{
    background: #e79e56 !important;
    color: white;
}
.shopCarCommon{
    border-radius: .2rem 0 0 .2rem;
    border-right: none!important;
}
.shopCarStrict{
    border-radius:0 .2rem .2rem 0;
    border-left: none!important;
}
.shopCarContainers >img{
    display: block;
    width: 62%;
    height: auto;
    margin: 3rem auto;
}