<div>
    <!--头部组件-->
    <div class="alliance_merchant_header">
        <div class="alliance-address">
            南阳
        </div>
        <span class="alliance-drop"></span>
        <div class="alliance-search" ui-sref="search">
            <span class="alliance-s"></span>
            <input type="text" id="search" value="" placeholder="搜索商品" class="alliance-inp"/>
        </div>
        <span class="alliance-sao"></span>

    </div>
    <!--轮播图开始-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class='swiper-slide' ng-repeat="sp in index.swipers"><a href="{{sp.ad_link}}"><img
                    ng-src='http://www.sgyxmall.com/{{sp.ad_logo}}'></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--轮播图结束-->

    <div class="alliance_merchant_container">
        <!--分类-->
        <ul class="am_ul_1">
            <li class="am_li_1">
                <span class="img img1"></span>
                <!--<img ng-src="../images/lianMeng/Food_and_beverage.png"   src="../images/lianMeng/Food_and_beverage.png" alt="餐饮">-->
                <span>餐饮美食</span>
            </li>
            <li class="am_li_1">
                <!--<img src="../images/lianMeng/Department_store_shopping.png" alt="财富">-->
                <span class="img img2"></span>
                <span>百货购物</span>
            </li>
            <li class="am_li_1">
                <!--<img src="../images/lianMeng/entertainment.png" alt="财富">-->
                <span class="img img3"></span>
                <span>娱乐休闲</span>
            </li>
            <li class="am_li_1" ui-sref="merchantClassify">
                <!--<img src="../images/lianMeng/more.png" alt="财富">-->
                <span class="img img4"></span>
                <span>更多分类</span>
            </li>
        </ul>
        <!--附近的商家-->
        <div class="am_near_shop">
            <p class="am_near_shop_all">附近的商家</p>
            <div class="am_near_shows" ng-repeat="x in order.shop ">
                <div class="am_near_inf">
                    <div class="am_near_inf_left">

                        <img ng-src="images/picture.png"/>
                    </div>
                    <div class="am_near_inf_right">
                        <div class="am_near_name">{{x.goods}}</div>
                        <div class="am_near_siez">
                            <span>{{x.color}}</span>
                            <span class="fr">{{x.size}}km</span>
                        </div>
                        <div class="am_near_integral">
                            <span>地址：{{x.prices_cash}}</span>

                        </div>
                    </div>
                </div>


            </div>


        </div>


    </div>
</div>