<style type="text/css">
    .argContainer{
        width: 94%;
        height: auto;
        padding: 0 3%;
        background: rgb(245,245,245);
    }
    .argDiv{
        width: 94%;
        height: .7rem;
        padding: 0.1rem 3%;
        background: white;
        margin-bottom: .2rem;
        line-height: .7rem;
        font-size: .26rem;
    }
    .argDiv input{
        width: 100%;
        background: none;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: .26rem;
    }
    .argDivTitle{
        color: #7e7e7e;
        display: inline-block;
        width: 1.3rem;
        font-size: .26rem;
    }
    .argAction{
        padding:0 0.2rem .25rem;
        font-size: .2rem;
        letter-spacing: 1px;
        color: #a2a2a2;
    }
    .argAction span{
        color: #ff853e;
    }
    .argServiceType,
    .argReason{
        background:white url("images/more_unfold.png") no-repeat 96% center;
        background-size:.3rem auto ;
    }
    .argBtn{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .8rem;
        line-height: .8rem;
        border-top: 2px #ff853e solid;
        background: white;
        font-size: .28rem;
        text-align: center;
        color: #ff853e;
    }
    .argUpImg{
        width: 94%;
        padding: 0.2rem 3% 0;
        background: white;
        margin-bottom: 1.3rem;
    }
    .uiBox{
        width: 100%;
        height: 1.8rem;
        margin-top: .2rem;
    }
    .choseImg{
        width: 1.8rem;
        height: 1.8rem;
        float: left;
        margin-right: .1rem;
        position: relative;
    }
    .choseImg input{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
</style>
<div class="module_head">
    <a href="javascript:window.history.go(-1)"></a>
    申请退货
</div>
<div class="argContainer">
    <div class="each_order_list" style="border: none">
        <div class="eol_img fl">
            <img ng-src="http://www.sgyxmall.com/Upload/goods/store_13/2018-01-13/5a59bdcc6a0ab.jpg" alt="">
        </div>
        <div class="eol_info fl">
            <p class="eol_name">这是一个商品的名字 这是商品的名字</p>
            <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">颜色：黑色，尺寸：如图</p>
            <p class="eol_enc">¥ <span class="eol_price">200.22</span><span class="eol_and"> + </span><span class="eol_point">33.33</span></p>
        </div>
        <span>X 2</span>
    </div>
</div>
<!--服务类型-->
<div class="argServiceType argDiv">
    <span class="argDivTitle">服务类型</span>请选择服务类型
</div>
<!--退款原因-->
<div class="argReason argDiv">
    <span class="argDivTitle">退款原因</span>请选择退款原因
</div>
<!--退款金额-->
<div class="argMoney argDiv">
    <span class="argDivTitle">退款金额</span><span style="color:#e79e56;">99元+99积分</span>
</div>
<p class="argAction"><span>*</span>退款金额=实际购买商品单价*数量</p>
<!--运费-->
<div class="argFreight argDiv">
    <span class="argDivTitle">运费</span>0元
</div>
<p class="argAction"><span>*</span>非商品质量、错发、漏发、卖家可拒绝退运费</p>
<div class="argReasonDis argDiv">
    <input type="text" placeholder="退货说明 最多200字（选填）" ng-change="getTxtNum()" ng-model="reg.regReasonDis" ng-focus="reg.txtArea = true" ng-blur="reg.txtArea = false">
</div>
<p class="argAction" ng-if="reg.txtArea">您还可以输入 <span>{{reg.txtNum}}</span> 字</p>
<div class="argUpImg">
    <span class="argDivTitle">上传凭证</span>
    <div class="uiBox">
        <div class="choseImg">
            <img src="" alt="">
            <input type="file" multiple="multiple" capture accept="image/*">
        </div>
    </div>
</div>
<div class="argBtn">
    提交申请
</div>