<div class="applyWay_container">
    <div class="aw_head">
        <a href="javascript:window.history.back(-1)"></a>
        去支付
    </div>
    <div class="chose_applyWay">
        <p >全额购买</p>
        <div class="chose_aw_con">

            <!--<div class="tong_apply" ng-click="UserApply(0)" >-->
                <!--&lt;!&ndash;<p>通联支付</p>&ndash;&gt;-->
                <!--<form action="http://www.sgyxmall.com/index.php?s=/Api/Payment/onlinePayment" method="post">-->
                    <!--<input type="text" name="token" value="{{apply.token}}" hidden>-->
                    <!--<input type="text" name="way" value="{{apply.way}}" hidden>-->
                    <!--<input type="text" name="order_sn" value="{{apply.orderId}}" hidden>-->
                    <!--<input type="text" name="payment" value="allcash" hidden>-->
                    <!--<input type="text" name="payment_way" value="18" hidden>-->
                    <!--<input type="text" name="goods_count" value="{{apply.orderNum}}" hidden>-->
                    <!--<input type="text" name="sc_id" hidden value="{{apply.sc_id}}">-->
                    <!--<input type="text" name="pay_passwd" value="" hidden>-->
                    <!--<input type="submit" class="apply_tonglian" value="通联支付">-->
                <!--</form>-->
            <!--</div>-->

            <div class="weChat_apply" ng-click="UserApply()">
                <!--<p>微信支付</p>-->
                <form action="http://www.sgyxmall.com/index.php?s=/Api/Payment/onlinePayment" method="post">
                    <input type="text" name="token" value="{{apply.token}}" hidden>
                    <input type="text" name="way" value="{{apply.way}}" hidden>
                    <input type="text" name="order_sn" value="{{apply.orderId}}" hidden>
                    <input type="text" name="payment" value="cashorpoint" hidden>
                    <input type="text" name="payment_way" value="14" hidden>
                    <input type="text" name="goods_count" value="{{apply.orderNum}}" hidden>
                    <input type="text" name="sc_id" hidden value="{{apply.sc_id}}">
                    <input type="text" name="pay_passwd" value="" hidden>
                    <input type="submit" class="apply_tonglian" value="微信支付">
                </form>
            </div>

            <div class="integral_apply" ng-click="UserApply(2)" ng-if="apply.isAllIn">
                <p>积分支付</p>
            </div>
        </div>
    </div>


    <div class="chose_applyWay1" ng-if="apply.isIn">
        <p>会员价购买</p>
        <div class="chose_aw_con1">

            <!--<div class="tong_integral_apply" ng-click="UserApply(3)">-->
                <!--<p>通联+积分支付</p>-->
            <!--</div>-->
            <!--yx_money  判断严选积分是否充足或为0 不充足或为0，不予显示-->
            <div class="weChat_integral_apply" ng-click="UserApply(4)" ng-if="apply.yx_money">
                <!--<p>微信+积分支付</p>-->
                <form action="http://www.sgyxmall.com/index.php?s=/Api/Payment/onlinePayment" method="post">
                    <input type="text" name="token" value="{{apply.token}}" hidden>
                    <input type="text" name="way" value="{{apply.way}}" hidden>
                    <input type="text" name="order_sn" value="{{apply.orderId}}" hidden>
                    <input type="text" name="payment" value="cashorpoint" hidden>
                    <input type="text" name="payment_way" value="20" hidden>
                    <input type="text" name="goods_count" value="{{apply.orderNum}}" hidden>
                    <input type="text" name="sc_id" hidden value="{{apply.sc_id}}">
                    <input type="text" name="pay_passwd" value="" hidden>
                    <input type="submit" class="apply_tonglian" value="微信+积分支付">
                </form>
            </div>

        </div>
    </div>
</div>
<!--二级密码支付盘-->
<div class="input_psd_container">
      <!-- <div class="goodsInfo_psd">
           <p class="apply_title">请输入支付密码</p>
           <p>您的选择的是全额购买，总价格是：<span>{{apply.fullMoney}}</span>积分</p>
           <div class="psd_container">
               <input type="password" readonly ng-repeat="item in passwordGroup track by $index" ng-value="item.value">
           </div>
       </div>
       <div class="input_pan">
           <div ng-repeat="num in apply.pan" ng-click="inputPsd(num)">{{num}}</div>
       </div>-->
    <div pay-keyboard full-money="{{apply.fullMoney}}"></div>
</div>
<!--支付过程加载层-->
<div class="input_process_loading">
    <img src="images/loadings.gif" alt="">
</div>