<style type="text/css">
    .argContainer{
        width: 94%;
        height: auto;
        padding: 0 3%;
        background: rgb(245,245,245);
    }
    .argDiv{
        width: 94%;
        height: .7rem;
        padding: 0.1rem 3%;
        background: white;
        margin-bottom: .2rem;
        line-height: .7rem;
        font-size: .26rem;
    }
    .argDiv input{
        width: 100%;
        background: none;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: .26rem;
    }
    .argDivTitle{
        color: #7e7e7e;
        display: inline-block;
        width: 1.3rem;
        font-size: .26rem;
    }
    .argAction{
        padding:0 0.2rem .25rem;
        font-size: .2rem;
        letter-spacing: 1px;
        color: #a2a2a2;
    }
    .argAction span{
        color: #ff853e;
    }
    .argServiceType,
    .argReason{
        background:white url("images/more_unfold.png") no-repeat 96% center;
        background-size:.3rem auto ;
    }
    .argBtn{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .8rem;
        line-height: .8rem;
        border-top: 2px #ff853e solid;
        background: white;
        font-size: .28rem;
        text-align: center;
        color: #ff853e;
    }
    .argUpImg{
        width: 94%;
        padding: 0.2rem 3% 0;
        background: white;
        margin-bottom: 1.3rem;
    }
    .uiBox{
        width: 100%;
        height: 1.8rem;
        margin-top: .2rem;
        padding-bottom: .3rem;
    }
    .choseImg,
    .choseImgTwo,
    .choseImgOne{
        width: 1.8rem;
        height: 1.8rem;
        float: left;
        margin-right: .1rem;
        position: relative;
    }
    .choseImg input,
    .choseImgTwo input,
    .choseImgOne input{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .regReason{
        width: 70%;
        max-height: 5.5rem;
        background: white;
        top: 23%;
        left: 15%;
        border-radius: .2rem;
        position: absolute;
        padding: .3rem 0;
        -webkit-transform: scale(1.2);
        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 0.3s;
    }
    .regReason p{
        width: 80%;
        height: .6rem;
        line-height: .6rem;
        text-align: center;
        border-bottom: 1px #e5e5e5 solid;
        margin: 0 auto;
        font-size: .26rem;
    }
    .mAGContainerY >div{
        -webkit-transform: scale(1);
    }
    .choseImg{
        background: url("images/upload.png") no-repeat center;
        background-size: 120% auto;
    }
    .choseImgTwo,
    .choseImgOne{
        background: url("images/set/Plus.png") no-repeat center;
        background-size: 50%;
    }
    .haveImg{
        float: left;
        width: 1.8rem;
        height: 1.8rem;
        margin-right: .1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .haveImg img{
        width:auto;
        height: 100%;
    }
</style>
<div class="module_head">
    <a href="javascript:window.history.go(-1)"></a>
    申请退货
</div>
<div class="argContainer">
    <div class="each_order_list" style="border: none">
        <div class="eol_img fl">
            <img ng-src="http://www.sgyxmall.com/{{reg.applyReturnGoods.default_img}}" alt="{{reg.applyReturnGoods.goods_name}}">
        </div>
        <div class="eol_info fl">
            <p class="eol_name">{{reg.applyReturnGoods.goods_name}}</p>
            <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">{{reg.applyReturnGoods.goods_types}}</p>
            <p class="eol_enc">¥ <span class="eol_price">{{reg.applyReturnGoods.goods_price}}</span><span class="eol_and"> + </span><span class="eol_point">{{reg.applyReturnGoods.goods_point}}</span></p>
        </div>
        <span>X {{reg.applyReturnGoods.goods_count}}</span>
    </div>
</div>
<!--服务类型-->
<div class="argServiceType argDiv" ng-click="alertBlock(1)">
    <span class="argDivTitle">服务类型</span>{{reg.regServiceType}}
</div>
<!--退款原因-->
<div class="argReason argDiv" ng-click="alertBlock(3)">
    <span class="argDivTitle">退款原因</span>{{reg.regReason}}
</div>
<!--退款金额-->
<div class="argMoney argDiv">
    <span class="argDivTitle">退款金额</span><span style="color:#e79e56;">{{reg.applyReturnGoods.expense_price}}元+{{reg.applyReturnGoods.expense_point}}积分</span>
</div>
<p class="argAction"><span>*</span>退款金额=实际购买商品单价*数量</p>
<!--运费-->
<div class="argFreight argDiv">
    <span class="argDivTitle">运费</span>{{reg.applyReturnGoods.shipping_money}}元
</div>
<p class="argAction"><span>*</span>非商品质量、错发、漏发、卖家可拒绝退运费</p>
<div class="argReasonDis argDiv">
    <input type="text" placeholder="退货说明 最多200字（选填）" ng-change="getTxtNum()" ng-model="reg.regReasonDis" ng-focus="reg.txtArea = true" ng-blur="reg.txtArea = false">
</div>
<p class="argAction" ng-if="reg.txtArea">您还可以输入 <span>{{reg.txtNum}}</span> 字</p>
<div class="argUpImg">
    <span class="argDivTitle">上传凭证</span>
    <div class="uiBox">
        <div class="choseImg" ng-if="reg.choseImg">
            <input type="file" multiple="multiple" accept="image/*" onchange="angular.element(this).scope().choseImg(this.files,0)">
        </div>
        <div class="haveImg" ng-if="reg.haveImg" ng-repeat="item in reg.IArr" ><img ng-src="{{item}}" alt=""></div>
        <div class="choseImgTwo" ng-if="reg.choseImgTwo">
            <input type="file" multiple="multiple" accept="image/*" onchange="angular.element(this).scope().choseImg(this.files,2)">
        </div>
        <div class="choseImgOne" ng-if="reg.choseImgOne">
            <input type="file" accept="image/*" onchange="angular.element(this).scope().choseImg(this.files,1)">
        </div>
    </div>
</div>
<div class="argBtn" ng-click="applyReturnGoodsBtn()">
    提交申请
</div>
<div class="mAGContainer" ng-class="{'mAGContainerY':reg.AlertClass}">
    <div class="regReason" ng-if="reg.STAlert">
        <p ng-repeat="p in reg.regServiceTypeArr" ng-click="regTxt(p,1)" >{{p}}</p>
        <p style="color: #ccc" ng-click="alertBlock(2)">取消</p>
    </div>
    <div class="regReason" ng-if="reg.RAlert">
        <p ng-repeat="v in reg.regReasonArr" ng-click="regTxt(v,2)">{{v}}</p>
        <p style="color: #ccc" ng-click="alertBlock(2)">取消</p>
    </div>
</div>
