<style type="text/css">
    .cicrContainer{
        width: 100%;
        height: auto;
    }
    .eachCicrList{
        width: 100%;
        height: auto;
        background: white;
        margin-top: .2rem;
    }
    .eachCicrMonth{
        width: 100%;
        height: .8rem;
        line-height: .8rem;
        font-size: .28rem;
        text-indent: 1em;
        background: url("images/right.png") no-repeat 97% center;
        background-size: auto .3rem;
        border-bottom: 1px #e5e5e5 solid;
    }
    .eachCicrMonth span{
        float:right;
        font-size: .25rem;
        color: #686868;
        margin-right: .6rem;
    }
    .eachCicrMonthList{
        width: 94%;
        padding: .15rem 3%;
        border-bottom: 1px #e5e5e5 solid;
    }
    .eachCicrMonthList >p{
        width: 100%;
        height: .6rem;
        line-height: .6rem;
        font-size: .23rem;
    }
    .mlNumber{
        display: inline-block;
        padding-left: .4rem;
        background: url(images/wealthAll/z-z41.png) no-repeat left center;
        background-size: .35rem auto;
    }
    .mlData{
        display: inline-block;
        padding-left: .4rem;
        background: url(images/wealthAll/tre_xqtime.png) no-repeat left center;
        background-size: .35rem auto;
    }
</style>
<div class="module_head">
    <a href="javascript:window.history.go(-1)"></a>
    现金积分转化记录
</div>
<div class="cicrContainer">
    <div class="eachCicrList" ng-repeat="month in cicr.monthList">
        <p class="eachCicrMonth" ng-click="showCicrDetial(month,$index)">{{month.times | datatimes}} <span>总计：{{month.total_money}}</span></p>
        <div class="eachCicrMonthListContainer" ng-if="month.isShow">
            <div class="eachCicrMonthList" ng-repeat="ml in cicr.eachList">
                <p><span class="mlNumber">现金积分：{{ml.get_money}}</span><span class="fr">描述：{{ml.mark}}</span></p>
                <p><span class="mlData">日期：{{ml.createtime}}</span>  </p>
            </div>
        </div>
    </div>
</div>