<style type="text/css">
    .caf{
        width: 100%;
        height: auto;
        margin-top: .2rem;
        background: white;
        padding: .2rem 0 .5rem;
    }
    .caf textarea{
        display: block;
        height: 3rem;
        margin: 0 auto;
        border: 1px #91a3b3 solid;
        outline: none;
        width: 80%;
        padding: .25rem .2rem;
        font-size: .25rem;
        font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
    }
    .caf input{
        width: 85%;
        height: .6rem;
        display: block;
        margin: .4rem auto 0;
        border: none;
        border-top: 1px #e5e5e5 solid;
        border-bottom:  1px #e5e5e5 solid;
        padding-left: .25rem;
        font-size: .27rem;
    }
    .cafBtn{
        width: 85%;
        height: .7rem;
        border-radius: .15rem;
        line-height: .7rem;
        text-align: center;
        color: white;
        background: #e79e56;
        font-size: .3rem;
        margin: .5rem auto 0;
    }
</style>
<div class="module_head">
    <a href="JavaScript:window.history.go(-1)"></a>
    意见与反馈
</div>
<div class="caf">
    <textarea name="" id="" cols="30" rows="10" ng-focus="writeCaf()" ng-model="caf.adviceTxt"></textarea>
    <input type="number" placeholder="请输入您的电话号码" ng-model="caf.tel">
    <div class="cafBtn" ng-click="subCaf()">确定</div>
</div>