<div class="merchant_classify_container">
	<div class="mc_head">
		<a href="javascript:window.history.back(-1)"></a>
		<div class="mc_classify">
			商家分类
		</div>
	</div>
	<!--商家分类-->
	<div class="mc_container">

		<div class="mc_center1 mc_center11">
			<ul class="mc_center">
				<li class="mc_pr" ng-class="{}" ng-repeat="v in arr.arr2" ng-click="change($index,v.cate_name,v.cate_id)"  on-finish>
					{{v.cate_name}}
				</li>
			</ul>
		</div>

	</div>

	<!--附近的商家-->
	<div class="am_near_shop">
		<p class="am_near_shop_all">{{arr.shopType}}</p>
		<div class="am_near_shows"  ng-repeat="x in arr.arr3 " ui-sref="merchantDetail({shopId:x.store_id})">

			<div class="am_near_inf">
				<div class="am_near_inf_left">
					<img ng-src="http://www.sugemall.com/{{x.store_logo}}"/>
				</div>
				<div class="am_near_inf_right">

					<div class="am_near_siez">
						<span>{{x.store_name}}</span>
						<span class="fr">{{x.juli}}m</span>
					</div>

					<div class="am_near_integral">
						<span >地址：{{x.address}}</span>
					</div>
					<div class="am_near_name" >{{x.cate_name}}</div>
				</div>
			</div>


		</div>
		<!--加载更多-->
		<p class="addMore"><img ng-src="images/Loading9.gif"/></p>


		<div class="am_near_ts" ng-if="$scope.num">
			暂无商家
		</div>


	</div>


</div>
