<!--收入明细-->
<style>
	body, html {
		background: white !important;
		letter-spacing: .5px;
	}
	.more {
		width: 20%;
		text-align: center;
		height: .6rem;
		line-height: .6rem;
		margin: 0 auto;
		font-size: .25rem;
		border: 1px solid black ;
		margin-bottom: .2rem;
		color: #FFFFFF;
		background: gray;
	}
</style>
<div class="treCon_container">
	<div class="mc_head">
		<a href="javascript:window.history.back(-1)"></a>
		<div class="mc_classify">
			我的收入明细
		</div>
	</div>
	<div class="treCon_score">
		<div class="treCon_score_top">
			<div class="treCon_score_top_fen">
				<span>本月累计收入(积分)</span>
				<span> <strong>{{Withdrawal.current}}</strong> </span>
			</div>
		</div>
		<div class="treCon_score_bot">
			历史累计收入 (积分)：{{Withdrawal.total}}
		</div>

	</div>
	<p class="am_near_shop_all">收入明细</p>
	<!--所有信息展示-->
	<div class="treCon_all_show">


		<div class="treCon_one_show" ng-repeat="v in Withdrawal.month" >
			<div class="treCon_one_top"  ng-click="change($index,v.months)">
				{{v.months|datatimes}} 总计：{{v.order_amount}}积分<span ng-if="$index!=Withdrawal.selected" class="treCon_imgSp2">&nbsp;</span><span ng-if="$index==Withdrawal.selected"  class="treCon_imgSp3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</div>
			<div ng-if="$index==Withdrawal.selected" >

				<div class="treCon_list">
					<div class="treCon_one_bot" ng-repeat="x in Withdrawal.dayDetail">
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								<img src="images/wealthAll/Members.png" class="treCon_img3"/> 会员:{{x.buyer_name}}
							</div>

						</div>
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								<img src="images/wealthAll/Money.png" class="treCon_img3"/>{{x.info}}:{{x.money}}
							</div>
							<div class="treCon_one_right">
								<img src="images/wealthAll/{{x.is_check|txImg }}" style="width: .95rem"/>
							</div>
						</div>
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								订单号:{{x.order_sn}}
							</div>
							<div class="treCon_one_right">
								<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{x.pay_time}}
							</div>
						</div>
					</div>
				</div>
				<p class="more"  ng-click="more(v.months)" >加载更多</p>
			</div>

		</div>


	</div>







</div>
