<style type="text/css">
    .module_head{
        position: fixed;
        top: 0;
        left: 0;
    }
    .myMemberSearchHead{
        position: fixed;
        top: .8rem;
        left: 0;
    }
    .myMemberContainer{
        width: 100%;
        height: auto;
    }
    .myMemberSearchHead{
        width: 94%;
        height: .8rem;
        padding: .1rem 3%;
        background: #fff;
        border-top: 1px #e5e5e5 solid;
        border-bottom: 1px #e5e5e5 solid;
    }
    .myMemberSearchHead >div{
        float: left;
        line-height: .8rem;
    }
    .mmPullDownList{
        width: 25%;
        height: 100%;
        position: relative;
        font-size: .26rem;
    }
    .mmPullDown{
        position: absolute;
        top:0.9rem;
        left: -180%;
        width: 112%;
        height: auto;
        border: 1px #e5e5e5 dashed;
        background: white;
        opacity: 0;
    }
    .mmIcon_on i{
        transform: rotate(-180deg) ;
        transition: all 0.5s;
    }
    .mmPullDown >p{
        text-align: center;
        border-bottom: 1px #e5e5e5 solid;
    }
    .mmSearch{
        width: 65%;
        padding-left: .25rem;
    }
    .mmSearch input{
        border: none;
        background: #eeeeee url("images/search.png") no-repeat .2rem center;
        background-size: auto .3rem;
        width: 62%;
        height: .45rem;
        padding-left: .554rem;
        font-size: .23rem;
        border-radius: .15rem;
    }
    .mmSearch span{
        color: #666;
        font-size: .25rem;
        padding-left: .24rem;
    }
    .mmpTxt{
        width: 75%;
        text-align: center;
    }
    .mmIcon{
        position: absolute;
        width: .3rem;
        height: .3rem;
        display: block;
        background: url("images/more_unfold.png") no-repeat center;
        background-size: .3rem auto;
        right: 0;
        top: .25rem;
        transform: rotate(0deg) ;
        transition: all 0.5s;
    }

    .mmList{
        width: 94%;
        height: auto;
        padding: .2rem 3%;
        background: white;
        margin-top: 2rem;
    }
    .each_mmList_container{
        width: 100%;
        height: auto;
    }
    .each_mmList_container >img{
        display: block;
        width: 60%;
        height: auto;
        margin: 2rem auto 0;
    }
    .each_mmList_title{
        width: 100%;
        height: .5rem;
        line-height: .5rem;
        background: url("images/title_line.png") no-repeat center;
        background-size: 45% auto;
        text-align: center;
        font-size: .25rem;
        letter-spacing: .1rem;
    }
    .each_mmList{
        width: 100%;
        height: auto;
        border-bottom: 1px #e5e5e5 solid;
        padding: .2rem 0;
        overflow: hidden;
    }
    .each_mmList >div{
        float: left;
        height: 1.5rem;
    }
    .emlLeft{
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .emlLeft >img{
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
    }
    .emlCenter{
        width: 60%;
    }
    .emlCenter >p{
        height: .5rem;
        padding-left: .15rem;
        font-size: .24rem;
    }
    .emName{
        line-height: .6rem;
    }
    .emTel{
        line-height: .5rem;
    }
    .emlRight{
        width: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .emlRight a{
        display: block;
        width: .6rem;
        height: .8rem;
        background: url("images/phone.png") no-repeat center;
        background-size: .5rem auto;
    }
    .em_member{
        color: #ff853e;
    }
    .em_merchant{
        color: skyblue;
    }
    .em_agency{
        color: #e79e56;
    }
    .em_area_member{
        color: darkseagreen;
    }
    .em_area_merchant{
        color: #500050;
    }
    .memberAddmore{
        text-align: center;
        padding: .2rem 0;
        font-size: .25rem;
        color: #929292;
    }
</style>
<div class="module_head">
    <a href="javascript:window.history.go(-1)"></a>
    我的会员
</div>
<div class="myMemberContainer">
    <!--搜索头部-->
    <div class="myMemberSearchHead">
        <!--下拉列表-->
        <div class="mmPullDownList" >
            <p class="mmpTxt" ng-click="getPullList()">{{member.selectTxt}}</p>
            <i class="mmIcon"></i>
            <div class="mmPullDown">
                <p ng-click="getFilterType(1,'会员')" >会员</p>
                <p ng-click="getFilterType(2,'商家')" >商家</p>
                <p ng-click="getFilterType(3,'代理')" >代理</p>
                <p ng-click="getFilterType(4,'辖区会员')" ng-if="member.isAll">辖区会员</p>
                <p ng-click="getFilterType(5,'辖区商家')" ng-if="member.isAll">辖区商家</p>
            </div>
        </div>
        <!--搜索框-->
        <div class="mmSearch">
            <input type="text" placeholder="搜索姓名或电话">
            <span>搜索</span>
        </div>
    </div>
    <div class="mmList">

        <div class="each_mmList_container" ng-if="member.memberMo">
             <p class="each_mmList_title">会员</p>

            <div class="each_mmList"ng-repeat="mb in member.memberInfo">
                <div class="emlLeft">
                    <img src="images/head.png" alt="">
                </div>
                <div class="emlCenter">
                    <p class="emName">{{mb.real_name}}
                        <span class="em_member">【会员】</span>
                    </p>
                    <p class="emTel">{{mb.user_name}}</p>
                    <p class="emDate">注册日期：{{mb.reg_time}}</p>
                </div>
                <div class="emlRight">
                    <a href="tel:{{mb.user_name}}"></a>
                </div>
            </div>

            <img src="images/nodata.png" alt="" ng-if="member.memberInfoNoData">
            <p class="memberAddmore" ng-if="member.memberInfoAddMore" ng-click="memberAddMore(1)">点击加载更多</p>
         </div>

        <div class="each_mmList_container" ng-if="member.merchantMo">
             <p class="each_mmList_title">商家</p>

            <div class="each_mmList"ng-repeat="mc in member.merchantInfo">
                <div class="emlLeft">
                    <img src="images/head.png" alt="">
                </div>
                <div class="emlCenter">
                    <p class="emName">{{mc.real_name}}
                        <span class="em_merchant">【商家】</span>
                    </p>
                    <p class="emTel">{{mc.user_name}}</p>
                    <p class="emDate">注册日期：{{mc.reg_time}}</p>
                </div>
                <div class="emlRight">
                    <a href="tel:{{mc.user_name}}"></a>
                </div>
            </div>

            <img src="images/nodata.png" alt="" ng-if="member.merchantInfoNoData">
            <p class="memberAddmore" ng-if="member.merchantInfoAddMore" ng-click="memberAddMore(2)">点击加载更多</p>
        </div>

        <div class="each_mmList_container" ng-if="member.agencyMo">
             <p class="each_mmList_title">代理</p>

            <div class="each_mmList"ng-repeat="an in member.agencyInfo">
                <div class="emlLeft">
                    <img src="images/head.png" alt="">
                </div>
                <div class="emlCenter">
                    <p class="emName">{{an.real_name}}
                        <span class="em_agency">【代理】</span>
                    </p>
                    <p class="emTel">{{an.user_name}}</p>
                    <p class="emDate">注册日期：{{an.reg_time}}</p>
                </div>
                <div class="emlRight">
                    <a href="tel:{{an.user_name}}"></a>
                </div>
            </div>

            <img src="images/nodata.png" alt="" ng-if="member.agencyInfoNoData">
            <p class="memberAddmore" ng-if="member.agencyInfoAddMore" ng-click="memberAddMore(3)">点击加载更多</p>
         </div>

        <div class="each_mmList_container" ng-if="member.areaMemberMo">
             <p class="each_mmList_title">辖区会员</p>

            <div class="each_mmList"ng-repeat="amb in member.areaMemberInfo">
                <div class="emlLeft">
                    <img src="images/head.png" alt="">
                </div>
                <div class="emlCenter">
                    <p class="emName">{{amb.real_name}}
                        <span class="em_area_member">【辖区会员】</span>
                    </p>
                    <p class="emTel">{{amb.user_name}}</p>
                    <p class="emDate">注册日期：{{amb.reg_time}}</p>
                </div>
                <div class="emlRight">
                    <a href="tel:{{amb.user_name}}"></a>
                </div>
            </div>

            <img src="images/nodata.png" alt="" ng-if="member.areaMemberInfoNoData">
            <p class="memberAddmore" ng-if="member.areaMemberInfoAddMore" ng-click="memberAddMore(4)">点击加载更多</p>
         </div>

        <div class="each_mmList_container" ng-if="member.areaMerchantMo">
             <p class="each_mmList_title">辖区商家</p>

            <div class="each_mmList"ng-repeat="amc in member.areaMerchantInfo">
                <div class="emlLeft">
                    <img src="images/head.png" alt="">
                </div>
                <div class="emlCenter">
                    <p class="emName">{{amc.real_name}}
                        <span class="em_area_merchant">【辖区商家】</span>
                    </p>
                    <p class="emTel">{{amc.user_name}}</p>
                    <p class="emDate">注册日期：{{amc.reg_time}}</p>
                </div>
                <div class="emlRight">
                    <a href="tel:{{amc.user_name}}"></a>
                </div>
            </div>

            <img src="images/nodata.png" alt="" ng-if="member.areaMerchantInfoNoData">
            <p class="memberAddmore" ng-if="member.areaMerchantInfoAddMore" ng-click="memberAddMore(5)">点击加载更多</p>
         </div>
    </div>
</div>
