<style type="text/css">
    .myOrder_header{
        position: fixed;
        top:0;
        left: 0;
        z-index: 9999999999;
    }
    .orderListHead{
        position: fixed;
        top:.8rem;
        left: 0;
        z-index: 9999999999;

    }
    .order_list_container{
        margin-top: 1.8rem;
    }
    .order_list_container >div >img{
        display: block;
        width:50%;
        height: auto;
        margin: 3rem auto;
    }
    .argdContainer{
        width: 80%;
        height: auto;
        margin: .2rem auto;
        background: white;
        position: absolute;
        top: 10%;
        left: 10%;
        border-radius: .2rem;
        padding-bottom: .5rem;
    }
    .argdList{
        width: 94%;
        height: .8rem;
        line-height: .8rem;
        font-size: .26rem;
        border-bottom: 1px #e5e5e5 solid;
        margin: 0 auto;
    }
    .argdTitle{
        display: inline-block;
        width: 1.5rem;
        padding-left: .25rem;
        color: #555;
    }
    .regdImgBox{
        width: 100%;
        height: auto;
        padding-bottom: .2rem;
        overflow: hidden;
    }
    .regdImgCen{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.3%;
        float: left;
        height: 2.5rem;
        overflow: hidden;
    }
    .regdImgCen img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .argdImg{
        width: 94%;
        height: auto;
        margin: 0 auto;
    }
    .argdImg >p{
        padding-left: .25rem;
        font-size: .26rem;
        color: #555;
        margin-top: .2rem;
    }
    .argd_know{
        width: 60%;
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        font-size: .3rem;
        background: #e79e56;
        color: white;
        margin: .3rem auto 0;
        border-radius: .2rem;
    }
</style>
<div class="myOrder_header">
    <a href="javascript:window.history.back(-1)"></a>
    我的商城订单
</div>
<!--顶部tab切换-->
<div class="orderListHead">
    <p ng-repeat="tabs in shopOrder.tabTxt" ng-class={'tabOn':shopOrder.tabIdx==$index} ng-click="changeOrderTab($index)">{{tabs}}</p>
</div>
<div class="order_list_container">
    <!--所有订单-->
    <div class="order_allOrder" ng-if="shopOrder.allOrderMo">
        <div class="each_myOrder_list" ng-repeat="eg in shopOrder.allOrder" >
            <p class="shopName">{{eg.store_name}}
                <span class="fr DFK" ng-if="eg.order_status==11">待付款</span>
                <span class="fr DFH" ng-if="eg.order_status==20">待发货</span>
                <span class="fr YFH" ng-if="eg.order_status==30">已发货</span>
                <span class="fr YWC" ng-if="eg.order_status==40">已完成</span>
                <span class="fr TK" ng-if="eg.order_status==50">退款</span>
            </p>
            <div class="each_order_list">
                <div class="eol_img fl">
                    <img ng-src="http://www.sgyxmall.com/{{eg.default_img}}" alt="{{}}">
                </div>
                <div class="eol_info fl">
                    <p class="eol_name">{{eg.goods_name}}</p>
                    <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">{{eg.goods_types}}</p>
                    <p class="eol_enc">¥ <span class="eol_price">{{eg.goods_price}}</span><span class="eol_and"> + </span><span class="eol_point">{{eg.goods_point}}</span></p>
                </div>
                <span>X {{eg.goods_count}}</span>
            </div>
            <div class="myOrderInfo">
                <p><span>订单编号：{{eg.order_sn}}</span></p>
                <p><span>下单时间：{{eg.add_time}}</span></p>
                <p><span>商品合计：{{eg.expense_price}}元+{{eg.expense_point}}积分</span></p>
                <p ng-if="eg.payment_name"><span>支付方式：{{eg.payment_name}}</span></p>
                <p ng-if="eg.waybill_sn"><span>快递单号：<input id="txt{{eg.waybill_sn}}" value="{{eg.waybill_sn}}" readonly></span><i ng-click="copyTxt(eg.waybill_sn)"ng-if="eg.order_status==30">一键复制</i></p>
                <p><span>运　　费：{{eg.shipping_money}}</span></p>
            </div>
            <div class="myOrder_receive">
                <div class="or_left fl"></div>
                <div class="or_right fl">
                    <p><span>收货人：</span>{{eg.buy_name}} <span class="fr" style="color: black">{{eg.phone_tell}}</span></p>
                    <p><span>收货地址：</span>{{eg.address}}</p>
                </div>
            </div>
            <p class="applyTui">
                <span class="fr" ng-if="eg.order_status==11" ng-click="cancelOrder(eg,0,$index)">取消订单</span>
                <span class="fr" ng-if="eg.order_status==11" ng-click="orderApply(eg)">去支付</span>
                <span class="fr" ng-if="eg.order_status==30" ng-click="confirmReceipt(eg)">确认收货</span>
                <span class="fr" ng-if="eg.order_status==20 || eg.order_status==30" ng-click="applyReturnGoods(eg)">申请退款</span>
                <span class="fr" ng-if="eg.order_status==30" ng-click="logisticsQuery(eg)">物流查询</span>
                <span class="fr" ng-if="eg.order_status==50" ng-click="applyReturnGoodsDetail(eg.order_id)">查看详情</span>
            </p>
        </div>
        <img src='images/nodata.png' ng-if="shopOrder.allOrderNoData">
        <p class="orderMore" ng-if="shopOrder.allOrderMore" ng-click="addOrderMore(0,'')">点击加载更多</p>
    </div>
    <!--待付款-->
    <div class="order_waitApply" ng-if="shopOrder.waitApplyMo">
        <div class="each_myOrder_list" ng-repeat="ega in shopOrder.waitApply" >
            <p class="shopName">{{ega.store_name}}</p>
            <div class="each_order_list">
                <div class="eol_img fl">
                    <img ng-src="http://www.sgyxmall.com/{{ega.default_img}}" alt="{{}}">
                </div>
                <div class="eol_info fl">
                    <p class="eol_name">{{ega.goods_name}}</p>
                    <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">{{ega.goods_types}}</p>
                    <p class="eol_enc">¥ <span class="eol_price">{{ega.goods_price}}</span><span class="eol_and"> + </span><span class="eol_point">{{ega.goods_point}}</span></p>
                </div>
                <span>X {{ega.goods_count}}</span>
            </div>
            <div class="myOrderInfo">
                <p><span>订单编号：{{ega.order_sn}}</span></p>
                <p><span>下单时间：{{ega.add_time}}</span></p>
                <p><span>商品合计：{{ega.expense_price}}元+{{ega.expense_point}}积分</span></p>
                <!--<p><span>支付方式：{{eg.payment_name}}</span></p>-->
                <p><span>运　　费：{{ega.shipping_money}}</span></p>
            </div>
            <div class="myOrder_receive">
                <div class="or_left fl"></div>
                <div class="or_right fl">
                    <p><span>收货人：</span>{{ega.buy_name}} <span class="fr" style="color: black">{{ega.phone_tell}}</span></p>
                    <p><span>收货地址：</span>{{ega.address}}</p>
                </div>
            </div>
            <p class="applyTui">
                <span class="fr" ng-if="ega.order_status==11" ng-click="cancelOrder(ega,1,$index)">取消订单</span>
                <span class="fr" ng-if="ega.order_status==11" ng-click="orderApply(ega)">去支付</span>
            </p>
        </div>
        <img src='images/nodata.png' ng-if="shopOrder.waitApplyNoData">
        <p class="orderMore" ng-if="shopOrder.waitApplyMore" ng-click="addOrderMore(1,'11')">点击加载更多</p>
    </div>
    <!--待发货-->
    <div class="order_waitSend" ng-if="shopOrder.waitSendMo">
        <div class="each_myOrder_list" ng-repeat="egs in shopOrder.waitSend" >
            <p class="shopName">{{egs.store_name}}</p>
            <div class="each_order_list">
                <div class="eol_img fl">
                    <img ng-src="http://www.sgyxmall.com/{{egs.default_img}}" alt="{{}}">
                </div>
                <div class="eol_info fl">
                    <p class="eol_name">{{egs.goods_name}}</p>
                    <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">{{egs.goods_types}}</p>
                    <p class="eol_enc">¥ <span class="eol_price">{{egs.goods_price}}</span><span class="eol_and"> + </span><span class="eol_point">{{egs.goods_point}}</span></p>
                </div>
                <span>X {{egs.goods_count}}</span>
            </div>
            <div class="myOrderInfo">
                <p><span>订单编号：{{egs.order_sn}}</span></p>
                <p><span>下单时间：{{egs.add_time}}</span></p>
                <p><span>商品合计：{{egs.expense_price}}元+{{egs.expense_point}}积分</span></p>
                <p><span>支付方式：{{egs.payment_name}}</span></p>
                <p><span>运　　费：{{egs.shipping_money}}</span></p>
            </div>
            <div class="myOrder_receive">
                <div class="or_left fl"></div>
                <div class="or_right fl">
                    <p><span>收货人：</span>{{egs.buy_name}} <span class="fr" style="color: black">{{egs.phone_tell}}</span></p>
                    <p><span>收货地址：</span>{{egs.address}}</p>
                </div>
            </div>
            <p class="applyTui">
                <span class="fr" ui-sref="applyReturnGoods" ng-click="applyReturnGoods(egs)">申请退款</span>
            </p>
        </div>
        <img src='images/nodata.png' ng-if="shopOrder.waitSendNoData">
        <p class="orderMore" ng-if="shopOrder.waitSendMore" ng-click="addOrderMore(2,'20')">点击加载更多</p>
    </div>
    <!--已发货-->
    <div class="order_waitReceive" ng-if="shopOrder.waitReceiveMo">
        <div class="each_myOrder_list" ng-repeat="egr in shopOrder.waitReceive" >
            <p class="shopName">{{egr.store_name}}</p>
            <div class="each_order_list">
                <div class="eol_img fl">
                    <img ng-src="http://www.sgyxmall.com/{{egr.default_img}}" alt="{{}}">
                </div>
                <div class="eol_info fl">
                    <p class="eol_name">{{egr.goods_name}}</p>
                    <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">{{egr.goods_types}}</p>
                    <p class="eol_enc">¥ <span class="eol_price">{{egr.goods_price}}</span><span class="eol_and"> + </span><span class="eol_point">{{egr.goods_point}}</span></p>
                </div>
                <span>X {{egr.goods_count}}</span>
            </div>
            <div class="myOrderInfo">
                <p><span>订单编号：{{egr.order_sn}}</span></p>
                <p><span>下单时间：{{egr.add_time}}</span></p>
                <p><span>商品合计：{{egr.expense_price}}元+{{egr.expense_point}}积分</span></p>
                <p><span>快递单号：<input id="txt{{egr.waybill_sn}}" value="{{egr.waybill_sn}}" readonly></span><i ng-click="copyTxt(egr.waybill_sn)">一键复制</i></p>
                <p><span>支付方式：{{egr.payment_name}}</span></p>
                <p><span>运　　费：{{egr.shipping_money}}</span></p>
            </div>
            <div class="myOrder_receive">
                <div class="or_left fl"></div>
                <div class="or_right fl">
                    <p><span>收货人：</span>{{egr.buy_name}} <span class="fr" style="color: black">{{egr.phone_tell}}</span></p>
                    <p><span>收货地址：</span>{{egr.address}}</p>
                </div>
            </div>
            <p class="applyTui">
                <span class="fr" ui-sref="applyReturnGoods" ng-click="applyReturnGoods(egr)">申请退款</span>
                <span class="fr">确认收货</span>
                <span class="fr" ng-click="logisticsQuery()">物流查询</span>
        </div>
        <img src='images/nodata.png' ng-if="shopOrder.waitReceiveNoData">
        <p class="orderMore" ng-if="shopOrder.waitReceiveMore" ng-click="addOrderMore(3,'30')">点击加载更多</p>
    </div>
    <!--已完成-->
    <div class="order_haveOver" ng-if="shopOrder.haveOverMo">
        <div class="each_myOrder_list" ng-repeat="ego in shopOrder.haveOver" >
            <p class="shopName">{{ego.store_name}}</p>
            <div class="each_order_list">
                <div class="eol_img fl">
                    <img ng-src="http://www.sgyxmall.com/{{ego.default_img}}" alt="{{}}">
                </div>
                <div class="eol_info fl">
                    <p class="eol_name">{{ego.goods_name}}</p>
                    <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">{{ego.goods_types}}</p>
                    <p class="eol_enc">¥ <span class="eol_price">{{ego.goods_price}}</span><span class="eol_and"> + </span><span class="eol_point">{{ego.goods_point}}</span></p>
                </div>
                <span>X {{ego.goods_count}}</span>
            </div>
            <div class="myOrderInfo">
                <p><span>订单编号：{{ego.order_sn}}</span></p>
                <p><span>下单时间：{{ego.add_time}}</span></p>
                <p><span>商品合计：{{ego.expense_price}}元+{{ego.expense_point}}积分</span></p>
                <p><span>快递单号：<input id="txt{{ego.waybill_sn}}" value="{{ego.waybill_sn}}" readonly></span></p>
                <p><span>支付方式：{{ego.payment_name}}</span></p>
                <p><span>运　　费：{{ego.shipping_money}}</span></p>
            </div>
            <div class="myOrder_receive">
                <div class="or_left fl"></div>
                <div class="or_right fl">
                    <p><span>收货人：</span>{{ego.buy_name}} <span class="fr" style="color: black">{{ego.phone_tell}}</span></p>
                    <p><span>收货地址：</span>{{ego.address}}</p>
                </div>
            </div>
            <p class="applyTui">
            </p>
        </div>
        <img src='images/nodata.png' ng-if="shopOrder.haveOverNoData">
        <p class="orderMore" ng-if="shopOrder.haveOverMore" ng-click="addOrderMore(4,'40')">点击加载更多</p>
    </div>
    <!--退款-->
    <div class="order_goodsReturn" ng-if="shopOrder.goodsReturnMo">
        <div class="each_myOrder_list" ng-repeat="ege in shopOrder.goodsReturn" >
            <p class="shopName">{{ege.store_name}}</p>
            <div class="each_order_list">
                <div class="eol_img fl">
                    <img ng-src="http://www.sgyxmall.com/{{ege.default_img}}" alt="{{}}">
                </div>
                <div class="eol_info fl">
                    <p class="eol_name">{{ege.goods_name}}</p>
                    <p class="eol_type" style="width: 4.2rem;height: .3rem;overflow: hidden">{{ege.goods_types}}</p>
                    <p class="eol_enc">¥ <span class="eol_price">{{ege.goods_price}}</span><span class="eol_and"> + </span><span class="eol_point">{{ege.goods_point}}</span></p>
                </div>
                <span>X {{ege.goods_count}}</span>
            </div>
            <div class="myOrderInfo">
                <p><span>订单编号：{{ege.order_sn}}</span></p>
                <p><span>下单时间：{{ege.add_time}}</span></p>
                <p><span>商品合计：{{ege.expense_price}}元+{{ege.expense_point}}积分</span></p>
                <p><span>支付方式：{{ege.payment_name}}</span></p>
                <p><span>运　　费：{{ege.shipping_money}}</span></p>
            </div>
            <div class="myOrder_receive">
                <div class="or_left fl"></div>
                <div class="or_right fl">
                    <p><span>收货人：</span>{{ege.buy_name}} <span class="fr" style="color: black">{{ege.phone_tell}}</span></p>
                    <p><span>收货地址：</span>{{ege.address}}</p>
                </div>
            </div>
            <p class="applyTui">
                <span class="fr" ng-click="applyReturnGoodsDetail(ege.order_id)">查看详情</span>
            </p>
        </div>
        <img src='images/nodata.png' ng-if="shopOrder.goodsReturnNoData">
        <p class="orderMore" ng-if="shopOrder.goodsReturnMore" ng-click="addOrderMore(5,'50')">点击加载更多</p>
    </div>
</div>
<div class="mAGContainer" ng-class="{'mAGContainerY':shopOrder.regdClass}" style="z-index: 9999999999999999999999999">
    <div class="argdContainer">
        <div class="argdList">
            <span class="argdTitle">退货状态</span>
            <span class="argdCon" style="color: #ff853e">{{shopOrder.regdInfo.status}}</span>
        </div>
        <div class="argdList">
            <span class="argdTitle">退货原因</span>
            <span class="argdCon">{{shopOrder.regdInfo.refund_reason}}</span>
        </div>
        <div class="argdList" style="height: auto">
            <span class="argdTitle">退货说明</span>
            <span class="argdCon">{{shopOrder.regdInfo.refund_desc}}</span>
        </div>
        <div class="argdImg">
            <p>退货凭证</p>
            <div class="regdImgBox">
                <div class="regdImgCen" ng-repeat="img in shopOrder.regdInfo.buyer_img"><img ng-src="{{img}}" alt=""></div>
            </div>
        </div>
        <p class="argd_know" ng-click="shopOrder.regdClass = false">我知道了</p>
    </div>

</div>
