<style>
    .module_head{
        position: fixed;
        top: 0;
        left: 0;
    }
    .sigGoodsContainer{
        margin-top: .81rem;
        border-top: 1px #e5e5e5 solid;
    }
    .addMores{
        width: 100%;
        height: auto;
        text-align: center;
        padding: .2rem 0;
        font-size: .24rem;
        color: #ccc;
    }
</style>
<div class="module_head">
    <a href="javascript:window.history.go(-1)"></a>
    购物积分专区
</div>
<!--顶部tab切换-->
<!--<div class="sigListHead">
    <div>
        <p ng-repeat="tabs in sig.className" ng-class={'tabOn':sig.Idx==$index} ng-click="changeSigTab(tabs,$index)">{{tabs.cate_name}}</p>
    </div>
</div>-->
<div class="sigGoodsContainer">
    <div class="eachGoods" ng-repeat="goods in sig.goodsList" ui-sref="shopIntegralGoodsDetail({goodsId:goods.goods_id})">
        <div class="sigImgBox">
            <img ng-src="http://www.sgyxmall.com/{{goods.default_img}}" alt="">
        </div>
        <p class="sigName">{{goods.goods_name}}</p>
        <p class="sigCatch"> 购物积分：<span>{{goods.default_point}}</span>+</p>
        <p class="sigIntegral">¥ <span>{{goods.default_ready}}</span></p>
        
    </div>

</div>
<p class="addMores" ng-if="sig.allAddMore" ng-click="sigDataAdd()">点击加载更多</p>