<!--财富支付记录-->
<style>
	body, html {
		background: white !important;
		letter-spacing: .5px;
	}
	.more {
		width: 20%;
		text-align: center;
		height: .6rem;
		line-height: .6rem;
		margin: 0 auto;
		font-size: .25rem;
		border: 1px solid black ;
		margin-bottom: .2rem;
		color: #FFFFFF;
		background: gray;
	}

</style>
<div class="treCon_container">
	<div class="mc_head">
        <a href="javascript:window.history.back(-1)"></a>
        <div class="mc_classify">
                            支付记录
        </div>
    </div>
	<div class="treCon_score">
		<div class="treCon_score_top">
			<div class="treCon_score_top_fen">
				<span>本月累计支付(积分)</span>
				<span> <strong>{{arr.current}}</strong> </span>
			</div>
		</div>
		<div class="treCon_score_bot">
			历史累计支付 (积分)：{{arr.total}}
		</div>
		
	</div>
	<p class="am_near_shop_all">支付明细</p>
	<!--所有信息展示-->
	<div class="treCon_all_show">
		
		
	   <div class="treCon_one_show" ng-repeat="v in arr.mouth"> 
			<div class="treCon_one_top"  ng-click="change($index,v.times)"> 
				{{v.times| datatimes}} 总计：{{v.money}}&nbsp;&nbsp;&nbsp;<span class="treCon_imgSp4"></span><span ng-if="$index!=arr.selected" class="treCon_imgSp2">&nbsp;</span><span ng-if="$index==arr.selected"  class="treCon_imgSp3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</div>
			<div ng-if="$index==arr.selected">
				<div class="treCon_one_bot"  ng-repeat="x in arr.dayDetail ">
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/hyjl_dd.png" class="treCon_img1"/>订单号{{x.order_sn}}
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/gwjfj.png" class="treCon_img1"/>{{x.money}}积分
						</div>
					</div>
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/tre_jf3.png" class="treCon_img2"/>商家名：{{x.to_name}}
						</div>
						
					</div>
					<div class="treCon_one_1">
					    <div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{x.add_time}}
						</div>
					</div>	
				</div>

				<p class="more"  ng-click="more(v.times)" >加载更多</p>
			</div>
		</div>
			
	
	</div>
	
	
	
	
	
	
	
</div>
