<!--财富获赠积分-->
<style>
	body, html {
		background: white !important;
		letter-spacing: .5px;
	}
	.more {
		width: 20%;
		text-align: center;
		height: .6rem;
		line-height: .6rem;
		margin: 0 auto;
		font-size: .25rem;
		border: 1px solid black ;
		margin-bottom: .2rem;
		color: #FFFFFF;
		background: gray;
	}
</style>
<div class="treCon_container">
	<div class="mc_head">
        <a href="javascript:window.history.back(-1)"></a>
        <div class="mc_classify">
                            获赠积分
        </div>
    </div>
	<div class="treCon_score">
		<div class="treCon_score_top">
			<div class="treCon_score_top_fen">
				<span>本月累计获赠(积分)</span>
				<span> <strong>{{arr.current}}</strong> </span>
			</div>
		</div>
		<div class="treCon_score_bot">
			历史累计获赠 (积分)：{{arr.total}}
		</div>
		
	</div>
	<p class="am_near_shop_all">获赠明细</p>
	<!--所有信息展示-->
	<div class="treCon_all_show">
		
		
	   <div class="treCon_one_show"   ng-repeat="v in arr.mouth"> <!--ng-repeat="v in user"-->
			<div class="treCon_one_top"  ng-click="change($index,v.times)"> <!--ng-click="change($index)"-->
				{{v.times| datatimes}} 总计：{{v.money}}&nbsp;&nbsp;&nbsp;<span class="treCon_imgSp4"></span><span ng-if="$index!=arr.selected" class="treCon_imgSp2">&nbsp;</span><span ng-if="$index==arr.selected"  class="treCon_imgSp3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</div>
			<div  ng-if="$index==arr.selected">
				<div class="treCon_one_bot"  ng-repeat="x in arr.dayDetail "> 
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/hyjl_dd.png" class="treCon_img1"/>订单号：{{x.order_sn}}
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{x.point}}积分
						</div>
					</div>
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/hysybz.png" class="treCon_img1"/>店家名：{{x.sendname}}
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_mobile.png" class="treCon_img1"/>{{x.user_name}}
						</div>
					</div>
					<div class="treCon_one_1" style="letter-spacing: 0px;font-size: .15rem;">
						<div class="treCon_one_left">
							<img ng-src="images/wealthAll/{{x.oto|imgChange1}}" class="treCon_img3"/>{{x.oto|order_type}}
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{x.createtime}}
						</div>
					</div>
				</div>

				<p class="more"  ng-click="more(v.times)" >加载更多</p>
			</div>
		</div>

		<div class="treCon_one_top" style="text-align: center" ng-if="arr.mouth.length==0">
			暂无数据
		</div>
	</div>
	
	
	
	
	
	
	
</div>
