<style>
	body, html {
		background: white !important;
		letter-spacing: .5px;
	}
	.more {
		text-align: center;
		height: .6rem;
		line-height: .6rem;
		font-size: .25rem;
		color: #e5e5e5;
	}


</style>

<!--商家收益-->
<div class="treCon_container">
	<div class="mc_head">
        <a href="javascript:window.history.back(-1)"></a>
        <div class="mc_classify">
                            商家收益
        </div>
    </div>
	<div class="treCon_score" style="background: #9acab2;">
		<div class="treCon_score_top" style="background: url(images/wealthAll/Frozen.png) no-repeat 90% 20%;background-size:0.9rem auto ;">
			<div class="treCon_score_top_fen">
				<span>本月累计收益(积分)</span>
				<span> <strong>{{arr.current}}</strong> </span>
			</div>
		</div>
		<div class="treCon_score_bot">
			历史累计收益 (积分)：{{arr.total}}
		</div>
		
	</div>
	<p class="am_near_shop_all">收益明细</p>
	<!--所有信息展示-->
	<div class="treCon_all_show" style="border-top: 1px solid #e9e9e9 ;">
		
		
	   <div class="treCon_one_show" ng-repeat="v in arr.mouth " >
			
			<div class="treCon_one_bot"  ng-click="change($index,v.times)"> 
				<div class="treCon_one_1" >

						{{v.times|datatimes}}收益
                        <img src="images/wealthAll/qiandai.png" class="treCon_img1"/>{{v.money}}
                        <img ng-src="images/wealthAll/{{v.is_clearing_cn|shopImg1}}" class="treCon_img4"/>
					<span ng-if="$index!=arr.selected" class="treCon_imgSp2">&nbsp;</span><span ng-if="$index==arr.selected"  class="treCon_imgSp3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>
				
			</div>
			<div ng-if="$index==arr.selected">
				<div class="treCon_one_bot" ng-repeat="x in arr.dayDetail " > 
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							{{x.content}}
						</div>
						
					</div>
					<div class="treCon_one_1">
						
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{x.createtime}}
						</div>
					</div>
				</div>

				<p class="more"  ng-click="more(v.times)" >点击加载更多</p>
			</div>
		   <div class="treCon_one_bg"></div>
	   </div>

		<div class="treCon_one_top" style="text-align: center" ng-if="arr.mouth.length==0">
			暂无数据
		</div>
	</div>
	
	
	
	
	
	
	
</div>
