<!--财富 账单详情-->
<div class="treCon_container">
	<div class="mc_head">
        <a href="javascript:window.history.back(-1)"></a>
        <div class="mc_classify">
                            账单
        </div>
    </div>
	
	<!--所有信息展示-->
	<div class="treCon_all_show">
	 
	 <!--购物积分的账单-->
		<style>
			body, html {
				background: white !important;
				letter-spacing: .5px;
			}
		</style>
		 <div ng-if="detail.billtype=='1'" ng-repeat="v in detail.data ">
			<!--      type===1 ：  会员转化 2 ：购物积分奖励      其他 ：    市场补贴-->
		   <div class="treCon_one_show"  ng-if="v.type!='9'" >
				<div class="treCon_one_bot"   > 
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{v.money}}购物积分
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{v.happiness}}严选积分
						</div>
					</div>
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img ng-src="images/wealthAll/{{v.type|imgChange }}" class="treCon_img2"/>{{v.type|order_type1 }}
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{v.createtime}}
						</div>
					</div>
				</div>
			</div>
			<!--    type===9 -->
		    <div class="treCon_one_show" ng-if="v.type=='9'" >
				<div class="treCon_one_bot" > <!--ng-repeat="x in v.detail "-->
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/hyjl_dd.png" class="treCon_img1"/>订单号{{v.order_sn}}
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/gwjfj.png" class="treCon_img1"/>{{v.money}}积分
						</div>
					</div>
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/tre_jf3.png" class="treCon_img2"/>商家名：{{v.from_username}}
						</div>
					</div>
					<div class="treCon_one_1">
					    <div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{v.createtime}}
						</div>
					</div>	
				</div>
			</div>
	     </div>
			<!--收益奖励的账单-->
			 <div ng-if="detail.billtype=='2'"  ng-repeat="v in detail.data " >
			    <!--      type===4  5  6  7      -->
			   <div class="treCon_one_show"  ng-if="v.type=='4'|| v.type=='5'||v.type=='6'||v.type=='7'" >
					<div class="treCon_one_bot" > 
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								<img src="images/wealthAll/hysybz.png" class="treCon_img2"/>商家名：{{v.from_username}}
							</div>
							<div class="treCon_one_right">
								<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{v.money}}收益
							</div>
						</div>
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								<img src="images/wealthAll/jlbz.png" class="treCon_img2"/>{{v.title}}
							</div>
						</div>
						<div class="treCon_one_1" style="letter-spacing: 0px;font-size: .15rem;">
							<div class="treCon_one_left">
								<img src="images/wealthAll/hyjl_dd.png" class="treCon_img3"/>订单号：{{v.order_sn}}
							</div>
							<div class="treCon_one_right">
								<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{v.createtime}}
							</div>
						</div>
					</div>
				</div>
				<!--      type===8    -->
			   <div class="treCon_one_show" ng-if="v.type=='8'" >
					<div class="treCon_one_bot" > 
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								<img src="images/wealthAll/hysybz.png" class="treCon_img2"/>商家名：{{v.from_username}}
							</div>
							<div class="treCon_one_right">
								<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{v.money}}收益
							</div>
						</div>
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								<img src="images/wealthAll/jlbz.png" class="treCon_img2"/>{{v.title}}
							</div>
						</div>
						<div class="treCon_one_1" style="letter-spacing: 0px;font-size: .15rem;">
							<div class="treCon_one_right">
								<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{v.createtime}}
							</div>
						</div>
					</div>
				</div>
			    <!--      type=== 9 -->
			   <div class="treCon_one_show"  ng-if="v.type=='9'" > 
					
					<div class="treCon_one_bot" > 
						<div class="treCon_one_1">
							<div class="treCon_one_left">
								收益提现
							</div>
							<div class="treCon_one_right">
								<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{v.money}}收益
							</div>
						</div>
						<div class="treCon_one_1" style="letter-spacing: 0px;font-size: .15rem;">
							<div class="treCon_one_right">
								<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{v.createtime}}
							</div>
						</div>
					</div>
				</div>
			 </div>
	    <div style="width: 100%;text-align: center;font-size: .25rem;margin-top: .2rem;">暂无更多</div>
	</div>
	
	
	
	
	
	
	
</div>
