<!--商家货款-->
<style>

	body, html {
		background: white !important;
		letter-spacing: .5px;
	}

	.treCon_enquiries input{
		font-size: .22rem;
	}
	.more {
		text-align: center;
		height: .6rem;
		line-height: .6rem;
		font-size: .25rem;
		color: #e5e5e5;
	}
</style>
<div class="treCon_container">
	<div class="mc_head">
        <a href="javascript:window.history.back(-1)"></a>
        <div class="mc_classify">
                            商家货款
        </div>
    </div>
	<div class="treCon_score" style="height: auto ;background: #9acab2;">
		<div class="treCon_score_top" >
			<div class="treCon_score_top_fen">
				<span>总货款</span>
				<span> <strong>{{dan.all}}</strong> </span>
			</div>
		</div>
		
		
	</div>
	
	<div class="treCon_one_bg"></div>
	<div class="treCon_enquiries">
		<div class="treCon_cha">
			
			<input type="number"  id="cha"  placeholder="请输入手机号"  ng-model="dan.phone" >
		</div>
		<div class="treCon_start">
			  <input  type="text" readonly=""  placeholder="起始日期"  class="plate_time right" lay-key="1" id="appDateTime1" name="appDateTime1" >
	    </div>
		<div class="treCon_end">
			  <input  type="text" readonly=""  placeholder="结束日期" class="plate_time right" lay-key="2" id="appDateTime2" name="appDateTime2" >
	    </div>
	    <div id="treCon_ok" ng-click="query()" style="background: #9acab2;">
	    	查找
	    </div>
    </div>
    <div class="treCon_one_bg"></div>
	<!--所有信息展示-->
	<div class="treCon_all_show">
		
		
	   <div class="treCon_one_show"  ng-repeat="v in dan.data"> <!--ng-repeat="v in user"-->
			
			<div class="treCon_one_bot" > 
				<div class="treCon_one_1">
					<div class="treCon_one_left">
						{{v.seller_name}} {{v.user_name}}
					</div>
					<div class="treCon_one_right">
						{{v.order_amount}}
					</div>
				</div>
				
				<div class="treCon_one_1" style="letter-spacing: 0px;font-size: .15rem;">
					<div class="treCon_one_left">
						{{v.add_time}}
					</div>
					<div class="treCon_one_right">
						收款
					</div>
				</div>
			</div>
			  <div class="treCon_one_bg"></div>
		</div>
		<p class="more" ng-click="more()" ng-if="dan.is_more">点击加载更多</p>

		<!--<div style="width: 100%;text-align: center;font-size: .25rem;margin-top: .2rem;">暂无更多</div>-->
	</div>
	
	
	
	
	
	
	
</div>
