<!--财富转化记录-->
<style>
	body, html {
		background: white !important;
		letter-spacing: .5px;
	}
	.more {
		text-align: center;
		height: .6rem;
		line-height: .6rem;
		font-size: .25rem;
		color: #e5e5e5;
	}
</style>
<div class="treCon_container">
	<div class="mc_head">
        <a href="javascript:window.history.back(-1)"></a>
        <div class="mc_classify">
                            转化记录
        </div>
    </div>
	<div class="treCon_score">
		<div class="treCon_score_top">
			<div class="treCon_score_top_fen">
				<span>本月累计转化(积分)</span>
				<span> <strong>{{treasureConversion.current}}</strong> </span>
			</div>
		</div>
		<div class="treCon_score_bot">
			历史累计转化 (积分)：{{treasureConversion.total}}
		</div>
		
	</div>
	<p class="am_near_shop_all">转化明细</p>
	<!--所有信息展示-->
	<div class="treCon_all_show">
		
		
	   <div class="treCon_one_show" ng-repeat="v in treasureConversion.month" >
			<div class="treCon_one_top"  ng-click="change($index,v.times)">
				{{v.times|datatimes}} 总计：{{v.money}}积分<span ng-if="$index!=treasureConversion.selected" class="treCon_imgSp2">&nbsp;</span><span ng-if="$index==treasureConversion.selected"  class="treCon_imgSp3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</div>
		   <div ng-if="$index==treasureConversion.selected" >

			   <div class="treCon_list">
				<div class="treCon_one_bot" ng-repeat="x in treasureConversion.dayDetail">
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{x.get_money}}购物积分
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqjia.png" class="treCon_img1"/>{{x.happiness}}严选积分
						</div>
					</div>
					<div class="treCon_one_1">
						<div class="treCon_one_left">
							<img src="images/wealthAll/tre_jf3.png" class="treCon_img2"/>{{x.order_type|order_type}}
						</div>
						<div class="treCon_one_right">
							<img src="images/wealthAll/tre_xqtime.png" class="treCon_img3"/>{{x.createtime}}
						</div>
					</div>
				</div>
			</div>
			   <p class="more"  ng-click="more(v.times)" >点击加载更多</p>
		    </div>
		</div>

		<div class="treCon_one_top" style="text-align: center" ng-if="treasureConversion.month.length==0">
			暂无数据
		</div>
	</div>
	
	
	
	
	
	
	
</div>
